<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXAlertview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94324E281EFBB77C0090779B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94324E411EFBB77D0090779B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94324E4C1EFBB77D0090779B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
